@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
body {
	color:#FFF; 
	font-family:'Open Sans', sans-serif;
	min-width:960px;
	top:0;
	left:0;
	position:absolute;
	height:100%;
	width:100%;
	margin:0; 
	color:#000;
	background-size:cover;
	background:url('../images/swirl_pattern.png') top left repeat;
}
.ie body {
	filter: dropshadow(color=#000000, offx=0, offy=1);	
}
/*front text*/
h1 {
	font-size:60px;
	letter-spacing:0px;	
	line-height:40px; 
	text-align:center;  
}
.ie h1 {
	filter: dropshadow(color=#000000, offx=0, offy=3);
	padding-bottom:12px;	
}
h5 {
	font-size:100px;
	letter-spacing:-2px;	
	line-height:40px; 
	text-align:center;  
}
.ie h5 {
	filter: dropshadow(color=#000000, offx=0, offy=3);
}
h2 { 
}
.ie h2 {
	filter: dropshadow(color=#000000, offx=0, offy=3);
}
h3 {
font-size: 30px;
margin: 0.2em 0;
text-align: center;
color: #000;
padding: 0 0 0 0;
}
h5 {
font-size: 30px;
margin: 0.2em 0;
text-align: center;
color: #000;
padding: 0 0 29px;
}
.ie h3 {
	filter: dropshadow(color=#000000, offx=0, offy=3);
}
h4 {
	margin-bottom:5px;	
}
p, pre {
	margin:0 0 10px 0; 
}
code {
	text-transform:uppercase !important;
	color:#EEE;	
	border-bottom:1px dotted #666;
}
small {
	background:url(../images/alpha.png);
	background:rgba(0, 0, 0, 0.8) url();	
	border:1px solid #111;
	font-size:15px;
	padding:0 5px;
}
strong{
text-align: center;
display: block; 
font-size: 28px;
font-weight: normal;
color:#646464;
}
a {
	color:gray;
	text-decoration:none;	
}
a:hover {
	color:#BBB;	
} 
.topSection{ 
}
.spacing{
padding:45px 0;
}
#Header { 
position: relative;
width: 100%; 
z-index: 1;
padding-top: 50px;
}
.logo{
width: auto; 
margin: 0 auto;
padding: 16px; 
border-radius: 180px;
}
.logos21{
width: auto; 
margin: 0 auto;
padding: 16px;  
border-radius: 180px;
}
.logo h1{
color:#00c06f;
font-weight:550;
margin: 0 0 0 0;
}
.logo h5{
color:#00c06f;
font-weight:550;
margin: 0 0 0 0px; 
}
.logopure10v5 h1{
color:#00c06f;
font-weight:550;
margin: 0 50px 0 0; 
}
.logos21 h1{
color:#00c06f;
font-weight:550;
margin: 0 0 0 0px; 
}
/*logo image*/
.logo img {
width: 80px;
height: 108px;
text-align: center;
margin: 0 10px 0 0;
}
/*logo image s21*/
.logos21 img {
width: 200px;
height: 200px;
text-align: center;
margin: 0 0 0 0; 
}
/*logo image pure10v5*/
.logopure10v5 img {
width: 200px;
height: 200px;
text-align: center;
margin: 0 0 0 0; 
}
.wrapper {
margin: 0 auto;
position: relative;
width: 100%;
z-index: 1;
}
#socialIcons {
display:block;
}
#socialIcons ul {
margin:40px 0 0 0px; 
padding:0px;
text-align: center;
}
#socialIcons ul li {
margin-right: 19px;
height: 56px;
line-height: 50px;
list-style-type: none;
display: inline-block;
background: #fff;
border-radius: 71px;
padding: 10px;
border: 1px solid #888;
}
#socialIcons ul li a{
width:34px;
height:34px; 
display: inline-block;
}
.youtubeIcon, .facebookIcon, .telegramIcon, .pintrestIcon{
background: url('../images/social-icons.png') -74px 0px;
}
 .youtubeIcon:hover, .facebookIcon:hover, .telegramIcon:hover, .pintrestIcon:hover{
background-position-y: -33px;
}
.facebookIcon{
background-position: 10px 0px;
}
.telegramIcon{
background-position: -245px 0px;
}
.pintrestIcon{
background-position: -331px 0px;
}
.s21button{
display:block;
text-align:center;
margin:40px;
color: #000000;
}
.tempBy{
display:block;
text-align:center;
padding:10px;
color: #8A8A8A;
background: rgba(55, 55, 55, 0.15);
}
.tempBynews{
display:block;
text-align:center;
padding-bottom:25px;
color: #000000;
background: #ffffff;
border: 1px solid #888;
margin-left:400px;
margin-right:400px;
margin-bottom:10px;
margin-top:10px;
border-radius: 25px;
}
.tempBy2{
display:block;
text-align:center;
padding:10px;
color: #8A8A8A;
}
#Content h2 {
margin: 0px;
padding: 0px;
text-align: center;
font-size: 30px;
font-weight: 300;
color:#676767;
margin-bottom:20px;
margin-top:25px;
}
#WindowSlide {
margin: 0 auto;
position: relative;
width: 634px;
height: 170px;
display: block;
overflow: hidden;
}
#Mail {
position: absolute;
width: 634px;
top: 0px;
left: 0px;
}
#Content h3 {
text-align: center;
font-size: 24px;
font-weight: normal;
display: block;
clear: both;
}

#subscribe p{
text-align:center;
}
#subscribe input {
background: rgba(255, 255, 255, 0.52);
color: #7a7a7a; 
vertical-align: middle;
width: 393px;
border: 1px solid #888;
padding: 10px;
font-size: 14px;
}
#subscribe input[type="button"]{
background: rgba(255, 255, 255, 1);
width: auto;
padding: 10px 25px;
cursor: pointer;
margin: 0 0 0 -6px;
font-weight: bold;
font-size: 14px;
color: #888;
}
#subscribe input[type="button"]:hover{
background:#00c06f;
color:#fff;
border:1px solid #00c06f;
}

.callback,
.simple {
  font-size: 20px;
  background: #27ae60;
  padding: 0.5em 0.7em;
  color: #ecf0f1;
  margin-bottom: 50px;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}
.callback{
  cursor: pointer;
}
.ended {
  background: #c0392b;
}
.styled div {
  display: inline-block;
  margin-left: 10px;
  font-size: 70px;
  font-weight: normal; 
  text-align: center;
  margin:0 15px; 
  padding:0 30px;   
  color:#fff;  
  text-shadow:none;
  vertical-align: middle;  
}

#overlay{
background: rgba(0, 0, 0, 0.56) url(../images/overlays/01.png) top left repeat;
position: fixed;
top: 0px;
width: 100%;
bottom: 0px;
opacity:0.8;
}
/* IE7 inline-block hack */
*+html .styled div{
  display: inline;
  zoom: 1;
}
.styled div:first-child {
  margin-left: 0;
}
.styled div span {
  display: block;
  padding-top: 3px;
  font-size: 19px;
  font-weight: normal; 
  text-align: center;
}
footer{
width:100%;
height:30px;
background:rgba(0, 0, 0, 0.64);
position:absolute;
bottom:0px;
}
footer span{
float:right;
margin:10px;
}
.subscribe {
background: rgba(55, 55, 55, 0.15);
}
.features{
background: rgba(0, 0, 0, 0);
}
.features h2 {
padding: 0 0 60px 0;
}
.features h4 { 
margin: 0px 0 10px 0;
}
.featuresPro{
margin-bottom:30px;
float:left;
}
.featuresPro{
font-size:15px;
}
@media(max-width:768px){
	body {
	min-width: initial !important;
	}
	.wrapper{width:100%;}
	.styled div {
	  margin-bottom:10px; 
	}
}
@media(max-width:420px){
	h1{
	float:initial;
	text-align: center;
	margin-left:0px;
	margin-bottom:0px;
	}
	.styled div {
	  margin-bottom:10px;
	  font-size: 40px;
	  font-weight: normal; 
	  text-align: center;
	  width:50px;  
	  height:70px;  
	}
	#Content h2 {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	text-align: center;
	font-size: 29px;
	font-weight: 300;
	}
	.styled {
	margin-bottom: 30px;
	}
	#subscribe input[type="button"]{
	margin-top:10px;
	}
	#subscribe input{
	width:80%;
	}
	.featuresPro img {
width: 100%;
}
	footer{
	position:relative !important;
	}
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  display: center;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.center1 {
  margin: auto;
  width: 70%;
  padding: 10px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


